---
import Icon from "../svelte/Icon.svelte"
---

<header class="flex items-center justify-center gap-1 py-6 text-xl">
	<Icon name="hamburger" className=" text-white w-6" />
	<div class="flex font-extrabold tracking-tighter">
		<h1 class="text-green-500">BK</h1>
		<h1>UPONGER</h1>
	</div>
</header>
