---
import Layout from "../layouts/Layout.astro"
import Header from "../components/astro/Header.astro"
import getCoupons from "../utils/getCoupons"
import CouponCard from "../components/astro/CouponCard.astro"
import generateCode from "../utils/generateQrCodes"
import Icon from "../components/svelte/Icon.svelte"
import { scrape } from "../utils/scrape"

const hookBody = import.meta.env.INCOMING_HOOK_BODY

if (hookBody && JSON.parse(hookBody)["key"] === import.meta.env.SCRAPE_KEY) {
	await scrape()
}

const coupons = await getCoupons()
coupons.forEach(async (coupon) => {
	await generateCode(coupon.code)
})
---

<Layout title="BKuponger">
	<main class="bg-bgBlue min-h-screen grid grid-cols-1 grid-rows-[auto_1fr_auto]">
		<Header />
		<div class="flex flex-col items-center justify-start px-7 gap-7">
			{
				coupons.map((coupon) => {
					return <CouponCard {...coupon} />
				})
			}
		</div>
		<footer class="bg-greyBlue h-[6rem] mt-16 flex flex-row justify-between p-3">
			<a href="https://github.com/GustavPernber/BKupong" target="_blank">
				<Icon name="github" className="  text-gray-400" />
			</a>
			<div class="flex flex-row items-center justify-center gap-1 opacity-60 text-md h-min">
				<Icon name="hamburger" className="text-white w-4" />
				<div class="flex font-extrabold tracking-tighter">
					<h1 class="text-green-500">BK</h1>
					<h1>UPONGER</h1>
				</div>
			</div>
		</footer>
	</main>
</Layout>
