---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import getCoupons from "../lib/getCoupons"
import CouponCard from "../components/CouponCard.astro"

const coupons = await getCoupons()
---

<Layout title="BKuponger">
	<main class="bg-bgBlue min-h-screen grid grid-cols-1 grid-rows-[auto_1fr]">
		<Header />
		<div class="px-8 flex flex-col justify-start items-center gap-5">
			{
				coupons.map((coupon) => {
					return <CouponCard {...coupon} />
				})
			}
		</div>
	</main>
</Layout>
